@media (max-width: 1340px) {
  .about__right-column {
    flex: 0 0 70% !important;
  }
  .about__left-column {
    flex: 0 0 30% !important;
  }
}

@media (max-width: 1180px) {
  .header__logo a {
    display: block;
    margin-left: 15px;
  }
  .top-form__form__inner {
    flex-flow: wrap row;
    align-content: space-between;

    width: 570px !important;
    height: 100px;
  }

  .top-form__title {
    padding-top: 30px;
  }
  .top-form__form__inner .default-btn {
    width: 281px;
  }
}

@media (max-width: 1139px) {
  .clients__items {
    flex-flow: column;
    align-items: center;
  }
}

@media (max-width: 1090px) {
  .service__content {
    display: flex;
    flex-flow: column nowrap !important;

    margin: 0 auto;
  }
  .service__item-title,
  .service__item-text {
    width: 70% !important;
    max-width: 2000px !important;
  }
  .service__text {
    margin-bottom: 20px !important;
  }
  .service__item-title {
    text-align: center;
  }
  .service__column-left,
  .service__column-right {
    height: 350px !important;
  }

  .about {
    height: inherit !important;
  }
  .about__left-column {
    display: none;
  }
  .about__right-column {
    flex: 0 0 100% !important;
  }
  .about__right-column__inner {
    margin-top: 40px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: center;
  }
  .about__text {
    max-width: none;
  }
  .about__btn {
    margin: 0 auto 30px auto;
  }

  .dfl-green-title {
    padding-top: 40px !important;
  }
  .price {
    padding-bottom: 30px !important;
  }

  .address {
    height: 500px;
  }
  .address__inner {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .menu__inner a {
    padding: 5px !important;
  }

  .works__items {
    justify-content: space-around;
    margin-top: 20px;
  }

  .works__items .works__item {
    flex: 0 0 40%;
  }

  .works__item-img {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 700px) {
  .menu__inner {
    width: 350px;
  }
  .top-form__title {
    font-size: 25px !important;
    padding-top: 15px !important;
  }

  /* .footer__menu-inner {
    flex-flow: wrap row;
    width: 400px;
    height: 150px;
  }
  .footer__menu-inner ul li:nth-child(-n + 3) {
    flex: 0 0 33.33%;
  } */
}

@media (max-width: 600px) {
  .top-form__form__inner {
    flex-flow: nowrap column !important;
    align-items: center;
    width: 250px !important;
    height: 200px;
  }

  .price-items {
    flex-flow: column wrap;
    align-items: stretch;
    height: unset;
  }
  .price-items > div {
    margin: 5px 20px;
  }
  .get-started {
    margin-bottom: 30px !important;
  }

  .slider__inner {
    margin-top: 40px;
  }

  .clients__item {
    margin: 15px 15px;
  }
}

@media (max-width: 520px) {
  .service__item-title:before {
    left: 0px !important;
  }
  .clients__item-inner {
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 5px !important;
  }
  .clients__item-img {
    width: 130px;
  }

  .slider__items {
    top: 12px;
    width: 72%;
  }

  .slick-dots {
    bottom: -80px;
  }
}

@media (min-width: 420px) {
  .menu__inner {
    display: block !important;
  }
}

@media (max-width: 420px) {
  .menu {
    position: relative;
  }
  .menu__inner {
    display: none;

    width: 310px;

    position: absolute;
    top: 80%;
    left: -320px;
  }

  .menu__inner ul {
    display: flex;
    flex-flow: wrap row;
    align-content: space-between;

    height: 50px;
    background-color: white;
  }
  .menu__inner ul li a {
    color: #ffbb42;
  }
  .menu-icon:before {
    content: "\e9bd";
    font-family: "icomoon";
    font-size: 35px;

    position: absolute;
    left: -70px;
    top: 50%;
    z-index: 1;

    color: #6e6e6e;

    transform: translateY(-50%);
  }
  .slider__items {
    top: 7px;
  }
}
