/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

/*================================================
    GENERAL PROPERTY
  ===============================================*/
@font-face {
  font-family: GothamBlack;
  src: url("../fonts/GothamBlack.otf");
}

html {
  box-sizing: border-box;
}
*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ul li {
  display: inline-block;

  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* display: block; */
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

.br {
  display: none;
}
/*================================================
    HEADER
  ===============================================*/

.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 94px;
}

.header__logo {
  position: relative;
}

.header__logo img {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.menu {
  min-height: inherit;
}

.menu__inner {
  margin: 30px 0;
}

.menu__inner a {
  padding: 12px 20px;

  border-radius: 2px;

  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  color: #868686;
}

.menu__inner a:hover {
  background-color: #ffbb42;
  color: #ffffff;
}

/*================================================
    FORM
  ===============================================*/

.top-form {
  text-align: center;

  background-image: url("../image/form-top__fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #709dca; */
}

.top-form__inner {
  height: 590px;
}

.top-form__title {
  padding-top: 100px;
  padding-bottom: 10px;

  font-family: GothamBlack;
  font-size: 35px;
  line-height: 34px;
  letter-spacing: -0.24px;
  text-transform: uppercase;

  color: #ffffff;
}

.top-form__text {
  margin-bottom: 30px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  color: #ffffff;
}

.top-form__form__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1090px;
  margin: 0 auto;
}

.default-input__outer {
  position: relative;
}

.default-input__outer:before {
  position: absolute;
  left: 16px;
  top: 50%;
  z-index: 1;

  font-family: "icomoon";
  color: #6e6e6e;

  transform: translateY(-50%);
}

.default-input {
  position: relative;
  width: 281px;
  height: 46px;
  padding-left: 40px;
  padding-right: 10px;

  font-family: "Open Sans";
  font-size: 14px;

  border-radius: 2px;
  background-color: #ffffff;
  border: none;
}

.default-input:focus {
  outline: none;
}

.default-input::placeholder {
  font-family: "Open Sans";
  font-size: 13px;
  color: #a9a9a9;
}

.full-name:before {
  content: "\f007";
}

.email:before {
  content: "\f003";
}

.phone-number:before {
  content: "\f095";
}

.default-btn {
  width: 211px;
  height: 46px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;

  color: #ffffff;

  border: none;
  border-radius: 2px;
  background-color: rgb(255, 187, 66);
}

.default-btn:hover {
  background-color: rgb(253, 173, 34);
  cursor: pointer;
}

.default-btn:focus {
  outline: none;
}

/*================================================
    SERVICE
  ===============================================*/

.service {
}

.service__title {
  margin-top: 200px;
  margin-bottom: 5px;

  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  color: #394b50;
}

.service__text {
  margin-bottom: 75px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.service__content {
  display: flex;
  flex-flow: row nowrap;
}

.service__column-left,
.service__column-right {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 50%;

  height: 520px;
}

.service__content-item {
  position: relative;
  flex: 0 0 33.333%;
}

.service__item-title {
  max-width: 410px;
  margin: 0 auto 5px auto;

  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #394b50;
}

.service__item-text {
  max-width: 410px;
  margin: 0 auto 0 auto;

  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  color: #7b7b7b;
}

.service__item-title:before {
  content: "";
  position: absolute;
  display: block;
  left: 15px;
  width: 47px;
  height: 47px;
}

.service__column-left > div:nth-child(1) .service__item-title:before {
  background: url("../image/service-1.png") no-repeat center;
}

.service__column-left > div:nth-child(2) .service__item-title:before {
  width: 62px;
  height: 44px;
  background: url("../image/service-2.png") no-repeat center;
}

.service__column-left > div:nth-child(3) .service__item-title:before {
  background: url("../image/service-3.png") no-repeat center;
}

.service__column-right > div:nth-child(1) .service__item-title:before {
  height: 48px;
  background: url("../image/service-4.png") no-repeat center;
}

.service__column-right > div:nth-child(2) .service__item-title:before {
  width: 50px;
  height: 51px;
  background: url("../image/service-5.png") no-repeat center;
}

.service__column-right > div:nth-child(3) .service__item-title:before {
  width: 31px;
  height: 55px;
  background: url("../image/service-6.png") no-repeat center;
}

/*================================================
    ABOUT
  ===============================================*/

.about {
  display: flex;
  flex-flow: row nowrap;
  height: 626px;

  color: white;
}

.about__left-column {
  flex: 0 0 50%;
  width: 50%;
  background: url("../image/about-1.jpg") no-repeat center;
  background-size: cover;
}

.about__right-column {
  flex: 0 0 50%;
  width: 50%;
  background-color: #ffc155;
}

.about__right-column__inner {
  margin-top: 150px;
  margin-left: 80px;
}

.about__title {
  margin-bottom: 20px;

  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.22px;
  text-transform: uppercase;
}

.about__text {
  max-width: 590px;
  margin-bottom: 30px;

  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
}

.about__btn {
  width: 149px;
  height: 50px;

  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;

  border-radius: 2px;
  border: 1px solid #e7ad48;
  cursor: pointer;
}

/*================================================
    PRICE
  ===============================================*/

.price {
  padding-bottom: 160px;

  background-color: #e7edf3;
  text-align: center;
}

.dfl-green-title {
  padding-top: 130px;
  padding-bottom: 5px;
  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #394b50;
  text-transform: uppercase;
}

.dfl-green-text {
  margin-bottom: 30px;

  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #75888d;
}

.price-items {
  display: flex;
  align-items: center;
  height: 500px;
}

.price-items > div {
  flex: 0 0 33.333%;
  flex-flow: row nowrap;

  text-transform: uppercase;
}

.side-item {
  height: 440px;

  background-color: #ffffff;
}

.side-item__inner,
.center-item__inner {
  max-width: 333px;
  min-width: 177px;
  margin: 0 auto;
}

.side-item__title,
.center-item__title {
  padding-top: 50px;
  padding-bottom: 25px;

  font-family: Lato;
  font-weight: 300;
  font-size: 25px;
  line-height: 22px;

  color: #818b95;
}
.side-item__price,
.center-item__price {
  font-family: Lato;
  font-size: 60px;
  line-height: 50px;
  font-weight: 700;

  color: #ffbb42;
}

.side-item__price .sup,
.center-item__price .sup {
  font-size: 28px;
  vertical-align: 30px;
}

.side-item__month,
.center-item__month {
  margin-bottom: 25px;

  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  color: #818b95;
}

.side-item__description > div {
  font-size: 13.5px;
  line-height: 40px;

  border-top: solid 1px #b5bbc1;
  color: #b5bbc1;
}

.get-started {
  width: 131px;
  height: 42px;
  margin: 30px auto 0 auto;

  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;

  color: white;
  border-radius: 2px;
  background-color: rgb(255, 187, 66);
  cursor: pointer;
}

.center-item {
  align-self: stretch;
  background-color: #709dca;
}

.center-item__title {
  padding-top: 80px;
  color: white;
}
.center-item__price,
.center-item__month {
  color: white;
}

.center-item__description > div {
  font-size: 13.5px;
  line-height: 40px;

  border-top: solid 1px #c2e1ff;
  color: #c2e1ff;
}

/*================================================
    WORKS
  ===============================================*/

.works {
  height: 860px;
}

.works__inner {
  text-align: center;
}

.works__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.works__item {
  width: 220px;
}

.works__items .works__item:first-child .works__item-img {
  background: url("../image/works-1.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:nth-child(2) .works__item-img {
  background: url("../image/works-2.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:nth-child(3) .works__item-img {
  background: url("../image/works-3.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:last-child .works__item-img {
  background: url("../image/works-4.png") no-repeat center;
  height: 100px;
}
