/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

/*================================================
    GENERAL PROPERTY
  ===============================================*/
@font-face {
  font-family: GothamBlack;
  src: url("../fonts/GothamBlack.otf");
}

html {
  box-sizing: border-box;
}
*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ul li {
  display: inline-block;

  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* display: block; */
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

.br {
  display: none;
}
/*================================================
    HEADER
  ===============================================*/

.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 94px;
}

.header__logo {
  position: relative;
}

.header__logo img {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.menu {
  min-height: inherit;
}

.menu__inner {
  margin: 30px 0;
}

.menu__inner a {
  padding: 12px 20px;

  border-radius: 2px;

  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  color: #868686;
}

.menu__inner a:hover {
  background-color: #ffbb42;
  color: #ffffff;
}

/*================================================
    FORM
  ===============================================*/

.top-form {
  text-align: center;

  background-image: url("../image/form-top__fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #709dca; */
}

.top-form__inner {
  height: 590px;
}

.top-form__title {
  padding-top: 100px;
  padding-bottom: 10px;

  font-family: GothamBlack;
  font-size: 35px;
  line-height: 34px;
  letter-spacing: -0.24px;
  text-transform: uppercase;

  color: #ffffff;
}

.top-form__text {
  margin-bottom: 30px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  color: #ffffff;
}

.top-form__form {
  position: relative;
}

.top-form__form__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1090px;
  margin: 0 auto;
}

.default-input__outer {
  position: relative;
}

.default-input__outer:before {
  position: absolute;
  left: 16px;
  top: 50%;
  z-index: 1;

  font-family: "icomoon";
  color: #6e6e6e;

  transform: translateY(-50%);
}

.default-input {
  position: relative;
  width: 281px;
  height: 46px;
  padding-left: 40px;
  padding-right: 10px;

  font-family: "Open Sans";
  font-size: 14px;

  border-radius: 2px;
  background-color: #ffffff;
  border: none;
}

.default-input:focus {
  outline: none;
}

.default-input::placeholder {
  font-family: "Open Sans";
  font-size: 13px;
  color: #a9a9a9;
}

.full-name:before {
  content: "\f007";
}

.email:before {
  content: "\f003";
}

.phone-number:before {
  content: "\f095";
}

.default-btn {
  width: 211px;
  height: 46px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;

  color: #ffffff;

  border: none;
  border-radius: 2px;
  background-color: rgb(255, 187, 66);
}

.default-btn:hover {
  background-color: rgb(253, 173, 34);
  cursor: pointer;
}

.default-btn:focus {
  outline: none;
}

.slider {
  position: absolute;
  top: 100%;
  left: 50%;

  width: 100%;
  height: 420px;

  transform: translateX(-50%);
}

.slider__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.slider__img {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

.slider__img > img {
  width: 100%;
}

.slider__items {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 70%;
  z-index: 1;

  transform: translateX(-50%);
}

.slider__item {
}

.slider__item img {
  width: 100%;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.slick-dots button {
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgb(28, 168, 221);
  width: 16px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.slick-dots {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

/*================================================
    SERVICE
  ===============================================*/

.service {
}

.service__title {
  margin-top: 200px;
  margin-bottom: 5px;

  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  color: #394b50;
}

.service__text {
  margin-bottom: 75px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.service__content {
  display: flex;
  flex-flow: row nowrap;
}

.service__column-left,
.service__column-right {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 50%;

  height: 520px;
}

.service__content-item {
  position: relative;
  flex: 0 0 33.333%;
  margin-bottom: 10px;
}

.service__item-title {
  max-width: 410px;
  margin: 0 auto 5px auto;

  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #394b50;
}

.service__item-text {
  max-width: 410px;
  margin: 0 auto 0 auto;

  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  color: #7b7b7b;
}

.service__item-title:before {
  content: "";
  position: absolute;
  display: block;
  left: 15px;
  width: 47px;
  height: 47px;
}

.service__column-left > div:nth-child(1) .service__item-title:before {
  background: url("../image/service-1.png") no-repeat center;
}

.service__column-left > div:nth-child(2) .service__item-title:before {
  width: 62px;
  height: 44px;
  background: url("../image/service-2.png") no-repeat center;
}

.service__column-left > div:nth-child(3) .service__item-title:before {
  background: url("../image/service-3.png") no-repeat center;
}

.service__column-right > div:nth-child(1) .service__item-title:before {
  height: 48px;
  background: url("../image/service-4.png") no-repeat center;
}

.service__column-right > div:nth-child(2) .service__item-title:before {
  width: 50px;
  height: 51px;
  background: url("../image/service-5.png") no-repeat center;
}

.service__column-right > div:nth-child(3) .service__item-title:before {
  width: 31px;
  height: 55px;
  background: url("../image/service-6.png") no-repeat center;
}

/*================================================
    ABOUT
  ===============================================*/

.about {
  display: flex;
  flex-flow: row nowrap;
  height: 626px;

  color: white;
}

.about__left-column {
  flex: 0 0 50%;
  width: 50%;
  background: url("../image/about-1.jpg") no-repeat center;
  background-size: cover;
}

.about__right-column {
  flex: 0 0 50%;
  width: 50%;
  background-color: #ffc155;
}

.about__right-column__inner {
  margin-top: 150px;
  margin-left: 80px;
}

.about__title {
  margin-bottom: 20px;

  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.22px;
  text-transform: uppercase;
}

.about__text {
  max-width: 590px;
  margin-bottom: 30px;

  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
}

.about__btn {
  width: 149px;
  height: 50px;

  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;

  border-radius: 2px;
  border: 1px solid #e7ad48;
  cursor: pointer;
}

/*================================================
    PRICE
  ===============================================*/

.price {
  padding-bottom: 160px;

  background-color: #e7edf3;
  text-align: center;
}

.dfl-green-title {
  padding-top: 130px;
  padding-bottom: 5px;
  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #394b50;
  text-transform: uppercase;
}

.dfl-green-text {
  margin-bottom: 30px;

  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #75888d;
}

.price-items {
  display: flex;
  align-items: center;
  height: 500px;
}

.price-items > div {
  flex: 0 0 33.333%;
  flex-flow: row nowrap;

  text-transform: uppercase;
}

.side-item {
  height: 440px;

  background-color: #ffffff;
}

.side-item__inner,
.center-item__inner {
  max-width: 333px;
  min-width: 177px;
  margin: 0 auto;
}

.side-item__title,
.center-item__title {
  padding-top: 50px;
  padding-bottom: 25px;

  font-family: Lato;
  font-weight: 300;
  font-size: 25px;
  line-height: 22px;

  color: #818b95;
}
.side-item__price,
.center-item__price {
  font-family: Lato;
  font-size: 60px;
  line-height: 50px;
  font-weight: 700;

  color: #ffbb42;
}

.side-item__price .sup,
.center-item__price .sup {
  font-size: 28px;
  vertical-align: 30px;
}

.side-item__month,
.center-item__month {
  margin-bottom: 25px;

  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  color: #818b95;
}

.side-item__description > div {
  font-size: 13.5px;
  line-height: 40px;

  border-top: solid 1px #b5bbc1;
  color: #b5bbc1;
}

.get-started {
  width: 131px;
  height: 42px;
  margin: 30px auto 0 auto;

  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;

  color: white;
  border-radius: 2px;
  background-color: rgb(255, 187, 66);
  cursor: pointer;
}

.center-item {
  align-self: stretch;
  background-color: #709dca;
}

.center-item__title {
  padding-top: 80px;
  color: white;
}
.center-item__price,
.center-item__month {
  color: white;
}

.center-item__description > div {
  font-size: 13.5px;
  line-height: 40px;

  border-top: solid 1px #c2e1ff;
  color: #c2e1ff;
}

/*================================================
    WORKS
  ===============================================*/

.works {
  height: 860px;
}

.works__inner {
  text-align: center;
}

.works__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 80px;
}

.works__item {
  width: 220px;
}

.works__item-img {
  margin-bottom: 80px;
}

.works__items .works__item:first-child .works__item-img {
  background: url("../image/works-1.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:nth-child(2) .works__item-img {
  background: url("../image/works-2.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:nth-child(3) .works__item-img {
  background: url("../image/works-3.png") no-repeat center;
  height: 100px;
}

.works__items .works__item:last-child .works__item-img {
  background: url("../image/works-4.png") no-repeat center;
  height: 100px;
}
.works__item-title {
  padding-bottom: 20px;

  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;

  color: #394b50;
}
.works__item-text {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  color: #7b7b7b;
}
.works__btn {
  width: 165px;
  height: 46px;
  margin: 0 auto;

  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;

  color: white;
  border-radius: 2px;
  background-color: rgb(255, 187, 66);
}

/*================================================
    CLIENTS
  ===============================================*/

.clients {
  background-color: #ffc155;
}
.clients__inner {
  padding: 50px 0;
}
.clients__title {
  padding-bottom: 5px;
  font-family: GothamBlack;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.25px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.clients__text {
  padding-bottom: 5px;
  padding-bottom: 60px;

  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.clients__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.clients__item {
  max-width: 570px;
  height: 240px;
  margin-bottom: 20px;

  height: inherit;
  background-color: white;
}

.clients__item-inner {
  display: flex;
  justify-content: center;

  padding: 40px 20px;
}

.clients__item-img {
  flex: 0 0 150px;
  height: 130px;
  padding-right: 20px;
}

.clients__items .clients__item:first-child .clients__item-img {
  background: url("../image/clients-1.png") no-repeat left;
}
.clients__items .clients__item:nth-child(2) .clients__item-img {
  background: url("../image/clients-2.png") no-repeat left;
}
.clients__items .clients__item:nth-child(3) .clients__item-img {
  background: url("../image/clients-3.png") no-repeat left;
}
.clients__items .clients__item:last-child .clients__item-img {
  background: url("../image/clients-4.png") no-repeat left;
}

.clients__item-text__text {
  position: relative;

  font-size: 13px;
  font-family: "Open Sans";
  line-height: 22px;
  color: #7b7b7b;
  padding-bottom: 20px;
}

.clients__item-text__text:before {
  content: "\f10d";
  font-family: "icomoon";
  position: absolute;
  left: -20px;
  top: -5px;
}

.clients__item-text__text:after {
  content: "\f10e";
  font-family: "icomoon";
  position: absolute;
  left: 100%;
  top: 80%;
}

.clients .name,
.clients .job-name {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}
.clients .name {
  color: #f6772c;
}
.clients .job-name {
  color: #99a9ae;
}

/*================================================
    SUBSCRIBE
  ===============================================*/

.subscribe {
  text-align: center;
}
.subscribe__inner {
  border-bottom: #e3e7ec solid 1px;
}

.bottom-form {
  width: inherit;
}

.bottom-form__inner > div {
  margin-bottom: 10px;
}

.bottom-form__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 950px;
}

.subscribe .full-name {
  width: 310px;
  margin-right: 10px;

  border: rgb(203, 203, 203) 1px solid;
  border-radius: 2px;
}

.subscribe .email {
  width: 390px;
  margin-right: 10px;

  border: rgb(203, 203, 203) 1px solid;
  border-radius: 2px;
}
.subscribe__btn {
  height: 48px;
}

.address {
  height: 650px;
  margin-top: 30px;

  background: url("../image/subscribe-1.png") no-repeat center;
  /* background-size: cover; */
}

.address__inner {
  padding-top: 130px;
}

.circle {
  position: relative;
  width: 283px;
  height: 296px;
  margin: 0 auto;

  border-radius: 50%;
  background-color: rgb(34, 47, 51);
}

.circle:before {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;

  width: 0px;
  height: 0px;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgb(34, 47, 51);

  transform: translateX(-50%);
}

.circle__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.address__title {
  padding-bottom: 15px;

  font-family: Lato;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.address__text,
.address__email {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
}

.address__text {
  color: #aeb7ba;
}

.address__email {
  color: #ffbb42;
}

.address__logo {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
  height: 100px;
  background: url("../image/logo.png") no-repeat center;
}

/*================================================
    FOOTER
  ===============================================*/

.footer__menu {
  margin-bottom: 20px;
}

.footer__content-inner {
  margin-top: 50px;
}

.footer__menu-inner ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer__menu-inner li {
  margin-bottom: 15px;
}

.footer__menu-inner a {
  padding: 6px 20px;

  border-radius: 2px;

  font-family: "Lato", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  color: #868686;
}

.footer__menu-inner a:hover {
  background-color: #ffbb42;
  color: #ffffff;
}

.footer__phone {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer__phone-inner {
  position: relative;

  font: Lato;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  color: #394b50;
}

.footer__phone-inner:before {
  content: "\f095";
  font-family: "icomoon";
  position: absolute;
  left: -30px;
  top: 50%;

  transform: translateY(-50%);
}

.footer__network {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.footer__network-inner {
  display: flex;
  justify-content: center;
}

.footer__network-inner img {
  padding: 0 15px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__bottom-inner {
  padding: 10px 0;

  font-family: "Open Sans";
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.footer__bottom {
  background: #709dca;
}
